.icon-arrowtop-white { background-image: url('../img/icons/arrowtop-white.png'); background-repeat: no-repeat; }

.icon-arrowtop { background-image: url('../img/icons/arrowtop.png'); background-repeat: no-repeat; }

.icon-facebook-dark { background-image: url('../img/icons/facebook-dark.png'); background-repeat: no-repeat; }

.icon-facebook-white { background-image: url('../img/icons/facebook-white.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('../img/icons/facebook.png'); background-repeat: no-repeat; }

.icon-house-dark { background-image: url('../img/icons/house-dark.png'); background-repeat: no-repeat; }

.icon-house { background-image: url('../img/icons/house.png'); background-repeat: no-repeat; }

.icon-instagram-dark { background-image: url('../img/icons/instagram-dark.png'); background-repeat: no-repeat; }

.icon-instagram-white { background-image: url('../img/icons/instagram-white.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('../img/icons/instagram.png'); background-repeat: no-repeat; }

.icon-mail-dark { background-image: url('../img/icons/mail-dark.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('../img/icons/mail.png'); background-repeat: no-repeat; }

.icon-phone-dark { background-image: url('../img/icons/phone-dark.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('../img/icons/phone.png'); background-repeat: no-repeat; }

.icon-pinterest-dark { background-image: url('../img/icons/pinterest-dark.png'); background-repeat: no-repeat; }

.icon-pinterest-white { background-image: url('../img/icons/pinterest-white.png'); background-repeat: no-repeat; }

.icon-pinterest { background-image: url('../img/icons/pinterest.png'); background-repeat: no-repeat; }

.icon-search-0 { background-image: url('../img/icons/search-0.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('../img/icons/search.png'); background-repeat: no-repeat; }

.icon-twitter-dark { background-image: url('../img/icons/twitter-dark.png'); background-repeat: no-repeat; }

.icon-twitter-white { background-image: url('../img/icons/twitter-white.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('../img/icons/twitter.png'); background-repeat: no-repeat; }

