.logo{
    text-align: center;
    display: block;
    margin: 30px 0 11px;
}

.tagline{
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
    color: #828383;
    font-weight: 600;
    text-transform: uppercase;
}

.latest-issue{
    margin-bottom: 3px;

    >a{
        background-image: url('../img/bg/ribbon.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 38px;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        color: #454646;
        float: right;
        position: relative;
        padding: 5px 160px 0 40px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .2s ease;

        img{
            position: absolute;
            bottom: -100%;
            right: 0;
            transition: all .2s ease;
        }

        &:hover,
        &:focus{
            color: #fff;

            img{
                .translate(0, -10px);
            }
        }
    }
}

.navbar-right:first-child{
    margin-right: -15px;
}
.navbar-nav.navbar-right:last-child{
    margin-right: 0;
}
.navbar{
    border: 0 none;
    margin-bottom: 0;

    background-color: #7cc5c1;
    background-image: url('../img/bg/noise.png');
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    .socialicons{
        margin: 7px -15px;
        padding: 0 15px;

        @media (min-width: @screen-sm-min){
            margin: 7px 0;
        }

        >li a{
            box-shadow: 0 0 0 2px #fff;
        }
    }
}
.navbar-default{
    .navbar-toggle{
        border-color: #fff;

        &:not(.collapsed){
            background-color: #fff;

            .icon-bar{
                background-color: @brand-primary;
            }
        }

        &.collapsed{

            .icon-bar{
                background-color: #fff;
            }
        }

        &:hover,
        &:focus{
            background-color: #fff;

            .icon-bar{
                background-color: @brand-primary;
            }
        }
    }
}
.header{
    min-height: 0;
    margin-bottom: 30px;

    nav{
        background-color: #fff;
        border: 1px solid @gray-lighter;
        padding: 3px 0;
        position: relative;
        z-index: 1;

        .nav{
            border: dashed @brand-primary;
            border-width: 1px 0;
            float: none;
            margin: 0;

            li.active{
                >a{
                    background-color: transparent;
                    color: @brand-primary;
                }
            }

            >li{
                @offset: 30px;
                @media (min-width: @screen-sm-min){
                    margin: -4px 0;
                }

                &+li{
                    border: solid @gray-lighter;
                    border-width: 1px 0 0;

                    @media (min-width: @screen-sm-min){
                        border-width: 0 0 0 1px;
                    }
                }

                &:first-child{
                    >a{
                        padding-left: @offset;
                    }

                    .dropdown-menu >li >a{
                        padding-left: @offset;
                    }
                }

                &:last-child{
                    >a{
                        padding-right: @offset;
                    }
                    .dropdown-menu >li >a{
                        padding-right: @offset;
                    }
                }

                &.dropdown{

                    &.open{
                        >a{
                            background-color: #fff;
                            color: @gray-light;

                            &:hover,
                            &:focus{
                                color: @brand-primary;
                            }
                        }
                    }
                }

                >a{
                    text-transform: uppercase;
                    font-weight: 600;

                    &:hover,
                    &:focus{
                        background-color: transparent;
                    }
                }

                .dropdown-menu{
                    border-radius: 0;
                    padding: 0;
                    border: 1px solid @gray-lighter;
                    margin: 0 -1px -1px;

                    >li{
                        &+li{
                            border-top: 1px solid @gray-light;
                        }

                        >a{
                            font-size: 14px;
                            padding: 10px 15px;

                            &:hover,
                            &:focus{
                                background-color: transparent;
                            }
                        }
                    }
                }
            }

            a{
                color: @gray-dark;
                transition: all .2s ease;

                &:hover,
                &:focus{
                    color: @brand-primary;
                }
            }
        }
    }
}
.navbar-header{
    margin-top: -50px;
}
.navbar-collapse{
    border-top: 0 none;
    padding: 0;
}
.search-form{

    .form-group{
        position: relative;
        margin-bottom: 0;

        label{
            position: absolute;
            left: 0;
            top: 0;
            height: 20px;
            width: 20px;
            background-size: cover;
            margin: 8px 0 0 5px;
        }

        .form-control{
            padding-left: 30px;
            color: @gray;

            &::placeholder{
                color: #aaa;
            }
        }
    }
}
.top-banner{
    margin-bottom: 30px;
    text-align: center;

    img{
        max-width: 100%;
        height: auto;
    }
}